@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}


/*NAVIGATION DESIGN*/
nav{
    background: #faf8f6;
    height: 80px;
    width: 100%;
}

.logo{
    color: #070707;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    padding: 6px 100px;
    font-weight: bold;
}

.main-nav{
    float: right;
    margin-right: 20px;
}

.nav-item{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.nav-link{
    color: #000000;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}


/*!* NAVIGATION DONE *!*/

/*MAIN SECTION*/

.wrap{
    background: rgba(0, 0, 0, 0.5) url("image/background-main-page.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 150vh;
    overflow: hidden;
    background-blend-mode: overlay;

}

.container{
    max-width: 55%;
    padding: 200px 80px 0;
    color: #ffffff;
}
.container h1 {
    font-size: 48px;
}
.container p {
    font-size: 20px;
    padding: 25px 0;
    font-weight: 300;
}
.container .btn-group{
    margin-top: 45px;
    background-color: black;

}

.container a {
    display: inline-block;
    padding: 15px 45px;
    text-decoration: none;
    color: #ffffff;
    border-radius:40px ;
}

.container a.color1{
    background-color: crimson;
}



/*END OF THE MAIN SECTION */


/*ITEM DESIGN */

.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.content-table tbody tr .btn{
    width: 128px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: coral;
    font-weight: normal;
    color: #f3f3f3;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
}



/*END OF ITEM DESIGN */