{{#partial "styles"}}
    <!--    Custom index page css-->
    <link rel="stylesheet" href="/style.css">
{{/partial}}
{{#partial "content"}}
    <div class="wrap " >
        <div class="container">
            <h1>We Treasure your Struggles</h1>
            <p>We created this app to let users be able to shop easy and at affordable prices with just one click.Enjoy!!</p>
            <div class = "btn-group" >
                <a class="color1" href="/items" >Search Products </a>
            </div>
        </div>
    </div>


{{/partial}}
{{>nav.hbs}}