<!DOCTYPE html>
<html lang="">
<head>
    <title>{{#block "title"}}SHOPPING APP{{/block}}</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    {{#block "styles"}}
        <!-- Main Stylesheet-->
        <link rel="stylesheet" href="/style.css">
    {{/block}}

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- google fonts  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav >
    <label class = "logo ">SHOPPING APP</label>
    <ul class = "main-nav">
        <li class="nav-item ">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/items">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/stores">Store</a>
        </li>
    </ul>
</nav>

{{#block "content"}}

{{/block}}

{{#block "footer"}}

{{/block}}




<script src="https://kit.fontawesome.com/d683449ddc.js" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>