{{#partial "styles"}}
    <!--    Custom index page css-->
    <link rel="stylesheet" href="/style.css">
{{/partial}}

{{#partial "content"}}
    <!--    ADDING STORES FOR DISPLAY -->
    <table class = "content-table-store">
        <thead>
        <tr>
            <th scope="col" >Name</th>
            <th scope="col" >Address</th>
            <th scope="col" >Website</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td scope="row" >Jumia</td>
            <td  scope="row" >Nairobi</td>
            <td  scope="row">www.jumia.com</td>
        </tr>
        <tr>
            <td  scope="row">Kilimall</td>
            <td  scope="row">Nairobi</td>
            <td  scope="row">www.kilimall.com</td>
        </tr>
        <tr>
            <td  scope="row">Jiji</td>
            <td  scope="row">Nairobi</td>
            <td  scope="row">www.jiji.com</td>
        </tr>
        </tbody>
    </table>





{{/partial}}
{{>nav.hbs}}
