{{#partial "styles"}}
    <!--    Custom index page css-->
    <link rel="stylesheet" href="/style.css">
{{/partial}}

{{#partial "content"}}
    <!--    ADDING STORES FOR DISPLAY -->
    <table class = "content-table-store">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Website</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Jumia</td>
            <td>Nairobi</td>
            <td>www.jumia.com</td>
        </tr>
        <tr>
            <td>Kilimall</td>
            <td>Nairobi</td>
            <td>www.kilimall.com</td>
        </tr>
        <tr>
            <td>Jiji</td>
            <td>Nairobi</td>
            <td>www.jiji.com</td>
        </tr>
        </tbody>
    </table>





{{/partial}}
{{>nav.hbs}}
